html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background-color: #FF843D;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  outline: none;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #E67737;
}
