.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls {
  top: 0 !important;
  position: sticky !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 10px !important;
  min-width: 300px !important;
  min-height: 75px !important;
}

.controls textarea {
  min-width: 300px !important;
  min-height: 50px !important;
}

.controls button {
  min-width: 50px !important;
  min-height: 25px !important;
}

/* tags to make sure it will be always visible on top of the screen */
.controls,
.controls * {
  z-index: 2147483647 !important;
  visibility: visible !important;
  display: flex !important;
  max-width: none !important;
  max-height: none !important;
}
