.vertical-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.horizontal-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: min-content;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: min-content;
}

.left {
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100vh;
}

.top {
  top: 0;
  width: 100%;
}

.right {
  top: 0;
  right: 0;
  height: 100%;
  min-height: 100vh;
}

.bottom {
  bottom: 0;
  width: 100%;
}

.panel {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  /* tags to make sure it will be always visible on top of the screen */
  z-index: 2147483647 !important;
  visibility: visible !important;
  cursor: auto !important;
}

.controls {
  /* border: 2px solid; */
  padding: 10px;
}

.controls cite {
  font-size: 15px;
  margin: 5px;
}

.controls textarea {
  font-size: 16px;
  min-width: 25vw;
  min-height: 10vh;
  outline: none;
  border: 2px solid;
}

.controls button {
  font-size: 16px;
  margin: 3px;
  outline: none;
  border: 2px solid;
  cursor: pointer;
}

.controls button:hover {
  color: white;
  border-color: black;
  background-color: black;
}

.controls,
.controls * {
  color: black;
  border-color: black;
  background-color: transparent;
  max-width: 100%;
  max-height: 100%;
}
