.page {
  display: flex;
  height: 100vh;
}

.vertical-left {
  flex-direction: row;
}

.vertical-right {
  flex-direction: row-reverse;
}

.horizontal-top {
  flex-direction: column;
}

.horizontal-bottom {
  flex-direction: column-reverse;
}

.container {
  overflow: auto;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: min-content;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: min-content;
}

.left {
  top: 0;
  left: 0;
  height: 100%;
  width: min-content;
}

.top {
  top: 0;
  left: 0;
  width: 100%;
  height: min-content;
}

.right {
  top: 0;
  right: 0;
  height: 100%;
  width: min-content;
}

.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: min-content;
}

.top textarea,
.bottom textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 15vh;
  max-height: 50vh;
  resize: vertical;
}

.left textarea,
.right textarea {
  min-width: 25vw;
  max-width: 50vw;
  min-height: 80vh;
  max-height: 80vh;
  resize: horizontal;
}

.fake-panel {
  visibility: hidden;
  position: static;
}

.panel {
  position: sticky;
  background-color: #ffbe4b;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* make sure it will be always visible and easy to interact with */
  visibility: visible !important;
  cursor: auto !important;
}

.controls textarea {
  font-size: 16px;
  outline: none;
  border: 2px solid;
}

.controls button {
  font-size: 16px;
  margin: 3px;
  outline: none;
  border-radius: 10px;
  color: white;
  background-color: #181c20;
  cursor: pointer;
}

.controls button:hover {
  color: white;
  background-color: black;
}

.controls,
.controls * {
  color: #181c20;
  border-color: #181c20;
  max-width: 100%;
  max-height: 100%;
}

.icons button {
  font-size: 16px;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icons button img {
  margin: 10px;
}

.icons button:hover img {
  width: 30px;
  height: 30px;
  margin: 5px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.spacer-start {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 10px;
  padding-right: 10px;
}

.spacer-end {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 10px;
  padding-left: 10px;
}

.spacer-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.float {
  font-size: 16px;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  background-color: #181c20;
  color: #fff;
  border-radius: 30px;
  margin: 10px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.float:hover {
  width: 35px;
  height: 35px;
  margin: 5px;
}

.fragment {
  animation: mymove 1s;
  animation-fill-mode: forwards;
}

@keyframes mymove {
  100% {
    box-shadow: 0.25em 0.25em 0 0 #ff843d;
  }
}
